.box {
  border: 10px solid black;
  margin: 10px;
}

.main {
  display: flex;
  justify-content: center;
}

.item-img {
  width: 500px;
  height: 500px;
}
.win {
  border: 10px solid green;
  color: green;
}
.lose {
  border: 10px solid red;
  color: red;
}
.tie {
  border: 10px solid black;
  color: black;
}